openapi: 3.0.0
info:
  title: Code Basics
  version: 1.0.0
servers:
  - url: https://code-basics.com
paths:
  /api/languages:
    get:
      tags:
        - default
      summary: Languages
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/languages/{id}/lessons:
    get:
      tags:
        - default
      summary: Language Lessons
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: integer
          required: true
          example: '1'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/lessons/{id}/check:
    post:
      tags:
        - default
      summary: Lesson Check
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              # FIXME: use properly yaml
              example: >-
                "{\n    \"data\": {\n        \"version_id\": \"25184\",\n       
                \"attributes\": {\n            \"code\":
                \"console.log('hexlet!')\"\n        }\n    }\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: integer
          required: true
          example: '72'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
